In [ ]:
string = input("Enter a string value: ")
char_count = {}

for char in string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char, count in char_count.items():
    print(f"{char}={count}", end=", ")

Enter a string value: Boon
B=1, o=2, n=1,

In [ ]:
def find_max(num1, num2, num3):
    return max(num1, num2, num3)
num1 = 34
num2 = 12
num3 = 7
max_num = find_max(num1, num2, num3)
print(max_num)

34

In [ ]:
def exponent(base, exp):
    return base ** exp
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base, exp)
print(result)

Enter the base: 2
Enter the exponent: 3
8

In [ ]:
def sum_cubes(n):
    total = 0
    for i in range(1, n):
        total += i ** 3
    return total
n = int(input("Enter a positive integer: "))
result = sum_cubes(n)
print(result)

Enter a positive integer: 4
36

In [ ]:
for i in range(1, 11):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
def most_frequent(lst):
    count_dict = {}
    max_count = 0
    max_item = None
    for item in lst:
        if item not in count_dict:
            count_dict[item] = 1
        else:
            count_dict[item] += 1
        if count_dict[item] > max_count:
            max_count = count_dict[item]
            max_item = item
    return max_item
lst = [2, 3, 4, 2, 5, 2]
result = most_frequent(lst)
print(result)

2

In [ ]:
def sum_of_squares(lst):
    sum_squares = 0
    for num in lst:
        sum_squares += num ** 2
    return sum_squares
lst = [2, 1, 3, 1]
result = sum_of_squares(lst)
print(result)

15

In [ ]:
for num in range(1, 16):
    if num % 2 == 0:
        print(num, "- even")
    else:
        print(num, "- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [ ]:
def to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

def to_fahrenheit(celsius):
    fahrenheit = (celsius * 9 / 5) + 32
    return fahrenheit

# Convert from Fahrenheit to Celsius
fahrenheit = float(input("Temperature in Fahrenheit: "))
celsius = to_celsius(fahrenheit)
print("Temperature in Celsius:", celsius)

# Convert from Celsius to Fahrenheit
celsius = float(input("Temperature in Celsius: "))
fahrenheit = to_fahrenheit(celsius)
print("Temperature in Fahrenheit:", fahrenheit)

Temperature in Fahrenheit: 34
Temperature in Celsius: 1.1111111111111112
Temperature in Celsius: 98
Temperature in Fahrenheit: 208.4

In [ ]:
def factorial(n):
    if n < 0:
        return None
    elif n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n+1):
            result *= i
        return result
n = 3
result = factorial(n)
print(result)  # output: 6

6

In [ ]:
a="abcd"
b="p"
while b in a:
      print(b,end=" ")

In [ ]:
print(True**False/True*False)

0.0

In [ ]:
L=['a','b','c','d','e','hello',[1,2,3]]
print(L[5])

hello

In [ ]:
print(round(8.479))

8

In [ ]:
a = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
a['1'] = 2
print(a[a[a[str(a[1])]]])

3

In [ ]:
colors = ["green", "pink", "red", "white"]
print("yellow" in colors)

False

In [ ]:
L=list("ictak kerala")
print(L[8 : -1])

['r', 'a', 'l']

In [ ]:
print(print(print("Hello world")))

Hello world
None
None

In [ ]:
L = [1,3,4,5,6,7,8]
print(L[1::2])
print(L[0:7:])
print(L[1:8:2])

[3, 5, 7]
[1, 3, 4, 5, 6, 7, 8]
[3, 5, 7]